header{
  background-image: url('../images/index.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -180px;
  padding-bottom: 15%;
}


.hide{
  display: none;
}
